<section class="">
     <!-- a row for just backgrounds  -->
    <div class="row position-relative  ">
        <!-- inner Overlay contains the rows of content  -->
        <div class=" overlay ">
            <!-- the row of text  -->
            <div class="row mt-2 justify-content-center ">
                <div class=" col-lg-4 col-md-12 d-flex justify-content-center  ">
                    <p class=" ">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                    </p>
                </div>
                <div class=" col-lg-8 col-md-12 d-flex justify-content-center ">
                    <h2>How we <br>work</h2>
                </div>
                
            </div>

            <!-- the row of images  -->
            <div class="row justify-content-center  mt-5 ">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="../../assets/imgs/how-we-work1.png">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="../../assets/imgs/how-we-work2.png">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="../../assets/imgs/how-we-work3.png">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img src="../../assets/imgs/how-we-work4.png">
                </div>
            </div>
            <a href="#contact" role="button" class=" btn btn-warning btnStyle mt-4 ">contact us</a>

        </div>

        <div class=" trans-bg col-lg-4 col-md-12 "></div>
        <div class=" colored-bg col-lg-8 col-md-12 "></div>
    </div>
</section>