
<section class="row ">
    <div class=" colored-bg col-lg-8 col-md-12 px-0 ">
        <span class="text-left">Peachy Pup <br> Bakery</span>

        <div class="text-box ">
            <h2 class="mt-md-2">Tasty pastries</h2>
            <p class="">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the
            </p>
            <button class="btn btn-warning position-relative btnStyle mt-3">see more</button>
        </div>
        
        <div class=" icon-box d-flex align-items-end justify-content-center ">
            <ul class="list-unstyled">
                <li>
                    <a href="#"><i class="fa-brands fa-vk"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
            </ul>
        </div>

        <p class="tele">
            <span>Telephone:</span>
            +7 700 000 00 00
        </p>
    </div>

    <div class=" trans-bg col-lg-4 col-md-12 ">
        <img src="../../assets/imgs/tasty-pastries.png" class="" alt="tasty pastries">
    </div>
</section>