<section>
    <div class="container">
        <h2 class="text-center">Recipes</h2>
        <div class="row mt-3">
            <div *ngFor="let meal of allMeals" class="col-lg-4 col-md-4 d-flex justify-content-center align-items-center pb-3">
                <div class="card" style="width: 18rem;">
                    <img [src]="meal.strMealThumb" class="card-img-top" alt="meal">
                    <div class="card-body">
                        <h5>{{meal.strMeal}}</h5>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#contact" role="button" class=" btn btn-warning btnStyle mt-4 ">contact us</a>
    </div>
</section>

