<section >
    <div class="container">
        <h2>Testymonials</h2>
        <div class="row justify-content-between mt-4 " >
            <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                <div class="text-box mt-4 ">
                    <h3>Kathryn Murphy</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled
                    </p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                <div class="text-box mt-4">
                    <h3>Kathryn Murphy</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled
                    </p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                <div class="text-box mt-4">
                    <h3>Kathryn Murphy</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled
                    </p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                <div class="text-box mt-4">
                    <h3>Kathryn Murphy</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled
                    </p>
                    <span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                </div>
                
            </div>
        </div>
        <a href="#contact" role="button" class=" btn btn-warning btnStyle mt-4 ">contact us</a>
    </div>
</section>