@import '../../styles.scss';


section{
    background-color: $firstColor;
    background-image: url('../../assets/imgs/testmonials-trans.png');
    background-size: cover;
    padding: 3rem;


    h2{
        font-family: $fontFamily-1;
        font-weight: 800;
        color: $secondColor;
        font-size: 8rem;
        text-align: center;
        text-transform: uppercase;
    }
    .text-box{
        background-color: $secondColor;
        padding: 1rem 2rem;
        width: 35vw;
        // height: 15vw;
        border-radius: 30px;

        h3{
            color: $firstColor;
            font-size: 1rem;
            font-weight: 900;
        }
        p{
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            font-family: $fontFamily-2;
        }
        span{
            color: $firstColor;
        }
    }
    a{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

//media queries

//medium screens
@media only screen and (max-width: 992px) {
    section{
        h2{
            font-size: 5rem;
        }
    }
}

//small devices
@media only screen and (max-width: 768px) {
    section{
        h2{
            font-size: 4rem;
        }
    }
}
